<%provide(:title, "Sign Up")%>
<% provide(:button_name, "Submit") %>
<% provide(:route_info, signup_path) %>
<h1>Sign up</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render "layouts/update_edit_form" %>
	</div>
</div>
